<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h1>This is a super boring page</h1>

  <p>This page came from a template, but it's just straight-up HTML. No data here. Just hard-coded boring stuff.</p>
  <h3>Some things more exciting than this page</h3>
  <ul>
    <li>
      A day at the DMV
    </li>
    <li>
      Eating cardboard
    </li>
    <li>
      Being in a coma
    </li>
  </ul>
</body>

</html>
